@import url('https://fonts.googleapis.com/css?family=Poppins');



*{
    font-family: Poppins;
    font-size: 16px;

}

body {
    -webkit-font-smoothing: antialiased;
    --tw-bg-opacity: 1;
    background-color: rgb(28 25 23 / var(--tw-bg-opacity));
}

.shadow-project{
    box-shadow: 20px #e11d48;
}
